/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/08/2018, 12:57:04 PM
    Author     : Elizabeth
*/

#cabecera{
    font-size: 40px;
    font-family: Times new roman;
    color:#00ada1;
    text-align: center;
}

ul li{
    list-style-type: none;
    background:grey;
    display: inline;
    font-size: 18px;
    font-family:Brodway;
    padding: 10px;
    border-radius:2px;
}
#Menu{
    text-align: center;
}
#Imagenes{
    border-radius:10px;
}
#Cuerpo{
    text-align: center;
    font-size: 18px;
     
}
#Pie{
    text-align: center;
    background: #1891af;
 font-size:15px;   
}